
.about-us {
  width: 100%;
  background-color: #ECF6FF;
  padding: 55px 0;
}

.about-us__outer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.about-us__inner {
  width: 100%;
  padding: 0 135px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.about-us-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ab-section-title {
    color: black;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    line-height: 48px;
    margin: 0;
}

.section-subtitle {
    color: rgba(30, 30, 30, 0.50);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1;
    min-width: 250px;
}

.icon-circle {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2F2E30;
    opacity: 0.3;
    border-radius: 50%;
}

.circle-inner {
    position: relative;
    width: 58px;
    height: 58px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.feature-icon {
    color: white;
    width: 32px;
    height: 32px;
}

.feature-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-title {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
}

.feature-desc {
    color: #8B8B8B;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
}
