/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@400;500;600&display=swap"); */

.product-tabs-container {
  width: 100%;
  background: white;
  border-radius: 5px;
  outline: 1px solid #e9e9e9;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.tabs-header {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  padding: 0 25px;
  margin-top: 25px;
  gap: 60px;
}

.tab-item {
  padding: 12px 0;
  font-size: 17px;
  font-weight: 600;
  color: #2b2b2d;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.tab-item.active {
  color: #2859c5;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2859c5;
}

.tab-content-body {
  padding: 30px 25px;
}

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desc-text {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.desc-subtitle {
  color: #2b2b2d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  display: inline-block;
  width: 100%;
}

.tab-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-row {
  font-size: 14px;
  line-height: 25.5px;
}

.info-label {
  color: #0d0c0d;
  font-weight: 600;
}

.info-value {
  color: #494349;
  font-weight: 400;
}


