@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@400;500;600&display=swap");

.product-tabs-container {
  width: 100%;
  background: white;
  border-radius: 5px;
  outline: 1px solid #e9e9e9;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.tabs-header {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  padding: 0 25px;
  margin-top: 25px;
  gap: 60px;
}

.tab-item {
  padding: 12px 0;
  font-size: 17px;
  font-weight: 600;
  color: #2b2b2d;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.tab-item.active {
  color: #2859c5;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2859c5;
}

.tab-content-body {
  padding: 30px 25px;
}

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desc-text {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.desc-subtitle {
  color: #2b2b2d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  display: inline-block;
  width: 100%;
}

.tab-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-row {
  font-size: 14px;
  line-height: 25.5px;
}

.info-label {
  color: #0d0c0d;
  font-weight: 600;
}

.info-value {
  color: #494349;
  font-weight: 400;
}

.review-layout {
  display: flex;
  gap: 60px;
}

.review-summary {
  width: 320px;
  flex-shrink: 0;
}

.review-heading {
  font-family: "Degular Demo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0d0c0d;
  margin-bottom: 4px;
}

.review-sub {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #494349;
  margin-bottom: 20px;
}

.bar-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.star-num {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 12px;
}

.star-icon-box {
  font-size: 10px;
  border: 1px solid #292d32;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.progress-wrapper {
  flex: 1;
  height: 8px;
}

.progress-bg {
  width: 100%;
  height: 8px;
  background-color: #f8f7f8;
  border-radius: 12px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #2859c5;
  border-radius: 12px;
}

.review-count-num {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: black;
  width: 40px;
  text-align: right;
}

.review-list {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: column;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: auto;
}

.review-card {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  scroll-snap-align: start;
  height: 100%;
  box-sizing: border-box;
}

.review-card-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.review-date {
  font-size: 14px;
  color: #808080;
}

.user-rating {}

.review-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.user-comment {
  font-size: 14px;
  color: #808080;
  line-height: 21px;
  margin: 0;
  text-align: left;
  width: 100%;
}

@media (max-width: 992px) {
  .review-layout {
    flex-direction: column;
  }
  .review-summary {
    width: 100%;
  }
  .review-list {
    grid-template-columns: 1fr;
  }
  .tabs-header {
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.review-list::-webkit-scrollbar {
  height: 8px;
}

.review-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.review-list::-webkit-scrollbar-thumb {
  background: #2859c5;
  border-radius: 4px;
}

.review-list::-webkit-scrollbar-thumb:hover {
  background: #13324f;
}
