.header {
  width: 100%;
  background-color: #2859C5;
}

.header__outer {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;

  display: flex;
}

.header__inner {
  
  padding: 0 135px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-bottom: 15px;
}

.logo-img {
  width: 45px; 
  height: auto;
}

.logo-text {
  font-family: 'Rammetto One', sans-serif;
  font-size: 20px; 
  color: #fff; 
  margin: 0; 
  line-height: 1em; 
}

.header__category {
  display: flex;
  align-items: center;
  background-color: #4C82E3; 
  gap: 8px;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 15px; 
}

.header__category .icon {
  width: 20px; 
  height: 20px;
  filter: invert(100%); 
}

.icon_show{
  filter: invert(100%); 
  width: 24px; 
  height: 12px;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 16px;
  width: 450px; 
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.icon-search {
  width: 20px;
  height: 20px;
  filter: invert(30%) sepia(90%) saturate(1500%) hue-rotate(200deg) brightness(90%); 
}

.header__search input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
  color: #636363;
  padding: 0;
}

.header__location {
  display: flex;
  align-items: center;
  background-color: #4C82E3;
  gap: 8px;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;  
}

.header__location .icon {
  width: 20px; 
  height: 20px;
  filter: invert(100%); 
}

.header__actions img {
  width: 25px; 
  margin-left: 20px; 
  cursor: pointer;
  filter: invert(100%); 
}
