.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2859C5;
  height: 120px;  /* Điều chỉnh chiều cao */
  width: 1440px;  /* Điều chỉnh chiều rộng */
  padding: 0 50px;
  color: #000;
  font-family: 'ABeeZee', sans-serif;
  margin: 0 auto;  /* Căn giữa khi cần */
}


.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 50px;
}

.logo-text {
  font-family: 'Rammetto One', sans-serif;
  font-size: 22px;
  color: #000;
}

.header__category {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 16px;
  width: 400px;
  border: 0.5px solid #7d7d7d;
}

.header__search input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
  color: #636363;
}

.header__location {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  padding: 10px 20px;
}

.header__actions img {
  width: 30px;
  margin-left: 25px;
  cursor: pointer;
}
