.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 480px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin-top: 10px;
    max-height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-dropdown::-webkit-scrollbar {
    width: 6px;
}

.search-dropdown::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.search-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 421px;
    height: 0.5px;
    background-color: #A9A9A9;
}

.search-item:hover {
    background-color: #8FBFFA;
    transform: translateX(5px);
    box-shadow: 0 4px 15px rgba(143, 191, 250, 0.4);
}

.search-item-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.05);
}

.search-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.search-item-name {
    color: black;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-item-price {
    color: #AD0000;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 18px;
}