.banner-section {
  width: 100%;
  background-color: #F9FCFF;
  padding: 26px 0;
}

.banner__outer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.banner__inner {
  width: 100%;
  padding: 0 135px;
  box-sizing: border-box;
}

.banner-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: 100%;
}

/* Wrapper cho Slider + Pagination */
.banner-left-column {
  flex-basis: 819px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Khoảng cách giữa ảnh và dot */
}

.banner-slider {
  width: 100%;
  height: 310px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: white;
  border: 1px solid #CEC8C8;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: background-color 0.2s;
}

.slider-nav:hover {
  background-color: #f0f0f0;
}

.slider-nav.prev {
  left: 5px;
}

.slider-nav.next {
  right: 5px;
}

/* Pagination: Đưa ra ngoài ảnh */
.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination-dot {
  width: 25px;
  height: 8px;
  /* Dày vừa phải */
  background: #E0E0E0;
  /* Màu xám nhạt */
  border-radius: 4px;
  /* Bo góc nhẹ, không tròn hẳn */
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-dot.active {
  background: #2859C5;
  width: 40px;
  /* Dài hơn khi active */
}

.banner-side-images {
  flex-basis: 335px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-side-images img {
  width: 100%;
  height: 148px;
  border-radius: 10px;
  object-fit: cover;
}